<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CandyCo</title>
</head>
<body>
<h1>CandyCo Customers</h1>
<div align="center">
    <h1>To products</h1>
    <a href="/html/products">Click to view products</a>
</div>
<h2>Our Customers:</h2>


<div th:if="${customers != null}">
    <ul>
        <li th:each="customer : ${customers}">
            <p>Customer ID: <span th:text="${customer.id}"></span></p>
            <p>Name: <span th:text="${customer.firstName} + ' ' + ${customer.lastName}"></span></p>
            <p>Email: <span th:text="${customer.email}"></span></p>
            <p>Phone: <span th:text="${customer.phone}"></span></p>

            <h3>Addresses:</h3>
            <div th:each="address : ${customer.addresses}">
                <p th:text="'Id: ' + ${address.id}"></p>
                <p th:text="'Street: ' + ${address.street}"></p>
                <p th:text="'City: ' + ${address.city}"></p>
                <p th:text="'Zip: ' + ${address.zipCode}"></p>
                <hr />
            </div>
            <hr />
        </li>
    </ul>
</div>

<div th:if="${customers == null}">
    <p>No customers available.</p>
</div>

</body>
</html>
