<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CandyCo Products</title>
</head>
<body>
<h1>CandyCo Products</h1>
<div align="center">
    <h1>Back to customers</h1>
    <a href="/html">Click to view customers</a>
    <h1>To orders</h1>
    <a href="/html/orders">Click to view orders</a>
</div>

<h2>Our Products:</h2>

<div th:if="${products != null}">
    <ul>
        <li th:each="product : ${products}">
            <p>Product ID: <span th:text="${product.id}"></span></p>
            <p>Name: <span th:text="${product.name}"></span></p>
            <p>Price: <span th:text="${product.price}"></span></p>
            <p>Description: <span th:text="${product.description}"></span></p>
            <p>Quantity: <span th:text="${product.quantityOnHand}"></span></p>
            <p>Status: <span th:text="${product.status}"></span></p>

            <hr />
        </li>
    </ul>
</div>

<div th:if="${products == null}">
    <p>No products available.</p>
</div>

</body>
</html>
